---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>API - Data Visualisation online</h1>
    <div class="box">

        <p>
            <br><br>
            <a href="https://github.com/BerengerQueune/Concepteur-developpeur-en-science-des-donnees/tree/main/Bloc-6-Direction-de-projets-de-gestion-de-donnees" target="_blank">Link to Github repository</a>
            <br>
            Tech stack: <span class="highlightme">Python</span>, <span class="highlightme">Streamlit</span>, <span class="highlightme">Docker</span>, <span class="highlightme">AWS Elastic Beanstalk</span>, <span class="highlightme">Fast F1</span>, <span class="highlightme">Plotly</span>, <span class="highlightme">Matplotlib</span>
            <br><br>
            This was a group project. Our goal was to gather data related to Formula One from an API to propose various visualizations to fans. I focused my work on the deployment phase. I made our <a href="https://f1-insights-jedha.herokuapp.com/" target="_blank">web application</a> with Streamlit and Docker to deploy it on Heroku for testing then on AWS Elastic Beanstalk for our <a href="https://youtu.be/PH8XaK99Smc?t=4514" target="_blank">presentation</a>.
            <br><br>
            <!-- You can see a video of my presentation <a href="https://share.vidyard.com/watch/PdwuP11mGQWkX94ehwpF7R?" target="_blank">here</a>. -->
               
        </p>
    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    