---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Exploratory analysis of speed dating data</h1>
    <div class="box">

        <p>
            <br><br>
            <a href="https://github.com/BerengerQueune/Concepteur-developpeur-en-science-des-donnees/tree/main/Bloc-2-Analyse-exploratoire-descriptive-et-inferentielle-de-donnees" target="_blank">Link to Github repository</a>
            <br>
            Tech stack: <span class="highlightme">Python</span>, <span class="highlightme">Pandas</span>, <span class="highlightme">Plotly</span>
            <br><br>
            The goal was to <span class="highlightme"></span>analyze</span> data about Speed Dating to find the most influencial traits to have a second date. This is a <span class="highlightme">Kaggle competition</span> available <a href="https://www.kaggle.com/datasets/annavictoria/speed-dating-experiment" target="_blank">here</a>. Once the exploratory analysis was finished. I made many visualizations and used statistics to find the correlation between each participants traits and the obtention of a second date.
            <br><br>
            You can see a video of my presentation <a href="https://share.vidyard.com/watch/UdfgrURqCaFM1kTKZZRUXE?" target="_blank">here</a>.
                    
        </p>
    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    