---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Industrialization of a machine learning algorithm</h1>
    <div class="box">

        <p>
            <br><br>
            <a href="https://github.com/BerengerQueune/Concepteur-developpeur-en-science-des-donnees/tree/main/Bloc-5-Industrialisation-un-algorithme-apprentissage-automatique-et-automatisation-des-processus-de-decision" target="_blank">Link to Github repository</a>
            <br>
            Tech stack: <span class="highlightme">Python</span>, <span class="highlightme">Streamlit</span>, <span class="highlightme">Docker</span>, <span class="highlightme">MLflow</span>, <span class="highlightme">Heroku</span>, <span class="highlightme">Plotly</span>, , <span class="highlightme">Sklearn (Linear Regression)</span>, <span class="highlightme">Fast API</span>
            <br><br>
            Get Around is a company helping people to rent their car. They want a tool to help them find if it would be beneficial to set a minimum time delta between two car rentals and another tool using Machine Learning to find the rental price of a car. I used Streamlit to create a web application to find if setting a time delta would help grow the company's revenue. Here is my <a href="https://get-around-streamlit.herokuapp.com/" target="_blank">Streamlit app</a>.<br> Then I made a Linear Regression and saved it in <a href="https://mlflow-getaround.herokuapp.com/#/experiments/1" target="_blank">MLflow</a> to predict the rental price of a car with <a href="https://get-around-api.herokuapp.com/" target="_blank">Fast API</a>.
            <br><br>
            <!-- You can see a video of my presentation <a href="https://share.vidyard.com/watch/PdwuP11mGQWkX94ehwpF7R?" target="_blank">here</a>. -->
               
        </p>
    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    