---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Predictive analysis of sentiment on tweets with Deep Learning</h1>
    <div class="box">

        <p>
            <br><br>
            <a href="https://github.com/BerengerQueune/Concepteur-developpeur-en-science-des-donnees/tree/main/Bloc-4-Analyse-predictive-de-donnees-non-structurees-par-l'intelligence-artificielle" target="_blank">Link to Github repository</a>
            <br>
            Tech stack: <span class="highlightme">Python</span>, <span class="highlightme">Plotly</span>, <span class="highlightme">Tensorflow</span>, <span class="highlightme">Spacy</span>
            <br><br>
            After cleaning my text data by using Natural Language Processing methods, I used Tensorflow to make a Deep Learning model in order to predict if a tweet is about a disaster or not. This is a <span class="highlightme">Kaggle competition</span> available <a href="https://www.kaggle.com/competitions/nlp-getting-started" target="_blank">here</a>.
            <br><br>
            <!-- You can see a video of my presentation <a href="https://share.vidyard.com/watch/PdwuP11mGQWkX94ehwpF7R?" target="_blank">here</a>. -->
            
            
        </p>
    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    