---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Digitecpharma: dashboards on Metabase</h1>
    <div class="box">

        <p>
            <br><br>
            Github repository unavailable: a confidentiality clause was signed for this project.
            <br>
            Tech stack: <span class="highlightme">Metabase</span>, <span class="highlightme">SQL</span>
            <br><br>
            <a href="https://www.digitecpharma.fr/" target="_blank">Digitecpharma</a> is a company helping pharmacies to digitalize their stock, data and developp their online presence.
            They wanted multiple dashboards on Metabase to easily access all of their business data. 
            <br><br>
            We made <span class="highlightme">9 dashboards</span> and <span class="highlightme">162 SQL queries</span>. 
            This project had a 2 months lifespan including multiple meetings with a lot of back and forth to gather feedbacks and share ideas with Digitecpharma.
            I focused my work on the technical side by learning Metabase and doing SQL queries. I also gathered feedbacks from the customer. 
            This project was highly collaborative, both within our team and with Digitecpharma.
            We presented our work during a demoday at the Wild Code School and you can find it <a href="https://www.loom.com/share/836105de6a9843e593a6f6fd3d4915bd" target="_blank">here</a>.
        </p>


    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    