---
---

<!--Header-->
{% include header.html %}
<!--Header-->

<body>

<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->




<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->

<div class="presentation_area">
    <p id="about_me"></p>
	<h1>Hi, I'm Bérenger</h1>
    <div class="box">
        <img src="images/current_best.png" alt="profile photo" />

        <p><br><br>
            I am a Data Analyst.
            <br><br>
            I will start a 5 months Data Engineer training at Jedha Bootcamp in March.
        </p>


    </div>

</div>

<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->


<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->



        <footer>

        </footer>
	</body>
</html>
    