---
---

<!--Header-->
{% include header.html %}
<!--Header-->

<body>


<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->




<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->

<div class="presentation_area">

    <div class="box">
        <img src="images/test5.jpg" alt="profile photo" />

        <p><br><br>
            Currently a student in Data Analysis, Engineering and Science. I will finish my diploma "Concepteur-développeur en Science des données" in July. This will be followed by an AWS Solution Architect associate certification in August.
        </p>


    </div>



</div>

<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->


<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->



        <footer>

        </footer>
	</body>
</html>