---
---

<!--Header-->
{% include header.html %}
<!--Header-->

<body>


<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->




<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->

<div class="presentation_area">

    <div class="box">
        <img src="images/current_best.png" alt="profile photo" />

        <p><br><br>
            I am a Junior Data Engineer.
            <br><br>
            After a 5 months Data Analyst training at Wild Code School, I have started a Data Engineer training in Jedha Bootcamp in February. 
            I am currently studying to obtain a "Concepteur-développeur en Science des Données" diploma.
        </p>


    </div>

</div>

<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->
<!--Presentation div-->


<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->



        <footer>

        </footer>
	</body>
</html>
    