---
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
        

		<title>
			Bérenger - Data Analyst
		</title>
	</head>


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>ManoMano: raise customer's engagement</h1>
    <div class="box">

        <p><br><br>
            During a <span class="highlightme">3 days hackaton</span>. A competition gathered <span class="highlightme">24 Data teams</span> to analyse a Database given by <a href="https://www.manomano.fr/">ManoMano</a> in order to find customer's pain points while purchasing on the website and make suggestion to improve customer's experience.
            <br><br>
            We analyzed the Database with <span class="highlightme">Power BI</span> then I used a <span class="highlightme">Python</span> library called Text2Emotion in order to identify customer's feelings based on their comments. I also used <span class="highlightme">photoshop</span> to design some of the visuals used in our presentation. 
            We went to the finals where I made an oral presentation of our work to hundreds of alumnis and Data professionals from ManoMano. 
            Our team finished on the podium at the <span class="highlightme">third place</span>. The final presentation is available <a href="https://manomano.zoom.us/rec/share/Lr8XlnEe5ylhIkOBrkOcS5ZEfg4fMk2c5DahRI2im3Cz7x1IIlX18MGoNkM4YGMA.Tj8hhcJ1pRO61h0f?utm_campaign=CONTENT&utm_source=linkedin&utm_medium=social&utm_content=manomano-replay">Here</a>. 
            You need to enter personal information to get access and <span class="highlightme">it starts at 01:25:45</span>.<!-- Or you can find a close exemple of what we achieved by watching my <a href="https://github.com/BerengerQueune/BerengerQueune.github.io/blob/main/README.md">mockup presentation</a>.-->
            I am the one talking.
            ManoMano wrote an <a href="https://medium.com/manomano-tech/what-did-we-learn-from-our-first-student-hackathon-experience-ba237d997df2">article</a> on this topic.
            
            
        </p>
    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    