---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Movie recommendation system</h1>
    <div class="box">

        <p><br><br>
            Mockup project: as a team of 4 we had to developp a <span class="highlightme">webapp</span> for a cinema owner. His business was falling behind and our goal was to create a movie recommendation system to suggest potential future popular movies.
            <br><br>
            We started to clean then analyze the database using <span class="highlightme">Python</span>, <span class="highlightme">Pandas</span> and <span class="highlightme">Plotly</span> then I built the app with a Python library named <span class="highlightme">Streamlit</span>. Based on the massive IMDb database I trained a <span class="highlightme">KNN Machine Learning model</span> to find movies with similar genres to the one selected. The Streamlit App is available <a href="https://share.streamlit.io/alema86/movie_recommandation/main/Streamlit/streamlit_appVersion_finale.py">here</a>.
        </p>


    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    