@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}

  html {
	scroll-behavior: smooth;
}


.presentation_svg {
	position: absolute;
	top: 100px;
	z-index: 0;
}



img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	width: auto;
	width: auto\9;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 70%;
	object-fit: contain;
	bottom: -100px;
	margin-top: -50px;
  }




/* this is used to change the display of hyperlink. 'text-decoration: none' kept showing a small bar at the bottom so I changed color to white to solve this issue */

nav a:visited {text-decoration: underline dotted white; color:black;}
nav a:hover {text-decoration: underline dotted white; color:black;}
nav a:focus {text-decoration: underline dotted white; color:black;}
nav a:hover, a:active {text-decoration: underline dotted white; color:black;}
nav a:link {text-decoration: underline dotted white; color:black;}

body {
	font-family: 'Noto Sans JP', sans-serif;
}


/* Colors */
/* Colors */
/* Colors */
/* Colors */
/* Colors */

nav ul li:hover {
	border-bottom: 3px solid #5f80e8;
}  

.presentation_area {
	
}

nav {

}

.page-content {

}

.page-content .projects-section .project {
	border: 1px solid #000000;
	background-color: #A7D9C9;
}

.page-content .projects-section .project .card_title {
	background-color: #5f80e8;
}

.page-content .projects-section .project h4 {
	color:white;
}

.page-content .dates {
	color: rgb(145, 145, 145);
}

.page-content .projects-section .project .card_description {
	background-color: #DFEFF0;
}

.project_area {

}

.project_area p .highlightme{
	color:#7c0c3c;
}

.project_area p a:visited { text-decoration:none; color:#ECECEC ; font-weight:bold; }
.project_area p a:hover { text-decoration: none; color:#ECECEC ; font-weight:bold; }
.project_area p a:focus { text-decoration: none; color:#ECECEC ; font-weight:bold; }
.project_area p a:hover, a:active { text-decoration: none; color:#ECECEC ; font-weight:bold; }
.project_area p a:link { text-decoration: none; color:#ECECEC ; font-weight:bold; }



footer {
	background-color: #6441a5;
	/* background-color: #8AAAE5; */
}
/* Colors */
/* Colors */
/* Colors */
/* Colors */
/* Colors */


/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	z-index: 50;
	top: 0;
	height: 60px;
}

nav ul img {
	width: 42px;
	height: 42px;
    margin-top: 5px;   
	border-bottom: 0px solid #A7D9C9;
}

nav ul img:hover {
	opacity: 0,3;
}

nav .profile {
	display: flex;
	align-items: center;
}

nav .profile h1 {
	font-size: 20px;
}

nav ul {
	display: flex;
	list-style-type: none;
    align-items: center;  
	padding: 0 2%;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
	
}


nav ul li:hover {
	margin-bottom: -3px;
} 

nav .profile {
	padding: 0 2%;
}

nav .nav_container {
	position: absolute;
	text-align: center;
}

nav .nav_container .profile {
	position: fixed;
	top: 8px;
	left: 0px;
}

nav .nav_container ul {
	position: fixed;
	top: 8px;
	right: 0px;
}



/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */







/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */




.presentation_area {

	width: 100%;
	height: 500px;
	
}

.presentation_area .presentation_text_box {
	background-color: #f3f5fc;
	height: 400px;
	width: 400px;
	border-radius: 5%;
	right:0;
	position: absolute;
	margin-top: 100px;
}

/* .presentation_area h1{
	line-height: 250px;
	height: 200px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	text-align: center;
} */


h5{
	line-height: 90px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	text-align: center;
	position:sticky;
	z-index:100;
	top:0;
	width: 500px;
	margin: 0 auto;
}


/* box div */
/* box div */
/* box div */
/* box div */
/* box div */

.presentation_area .box{

	display: flex;
	flex-wrap: wrap;
	width: 40%;
	height: 400px;
	position:relative;
    margin: 0 auto;
	top: 85px;
	
}

.presentation_area .presentation_text_box {
	background-color: #f3f5fc;
	height: 200px;
	width: 400px;
	border-radius: 5%;
	right:0;
	position: absolute;
	margin-top: 150px;
	padding: 20px;
}

.presentation_area .presentation_text_box h3{
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
}

.underline {
	display:block;
	width: 80%;
	height: 10px;
	background-color: #6441a5;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 10px;
}

.presentation_area .presentation_text_box p{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}



.presentation_area .box img{
	width: 310px;
	height: 310px;
	margin-top: 50px;
	z-index: 10;
	border-radius: 5%;
	border: 0px solid #A7D9C9;
}



.presentation_area .box a img:hover {
	opacity: 0.3;
}



/* box div */
/* box div */
/* box div */
/* box div */
/* box div */

/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */




/* profile div */
/* profile div */
/* profile div */

.profile_career_area {
	background-color: #f3f5fc;
	height: 300px;
	width: 100%;
	margin-top: 250px;
	z-index: 1;
	display: flex;   
	justify-content: center;
}

.profile_career_area .profile_career_bar {
	display: block;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	margin-top: 50px;


}



/* profile div */
/* profile div */
/* profile div */



/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */

.page-content {
	padding: 0 28%;
	
}

.page-content h1 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	text-align: center;
	margin-top: 30px;
}

.page-content h2 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;	
}

.page-content .projects-section .project {
	
	width: 220px;
	height: 300px;
	border-radius: 5%;
	margin: 0 auto;
	margin-bottom: 20px;
	
}



.page-content .projects-section .project h4 {
	text-align: center;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	
}

.page-content .dates {
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.page-content .projects-section .project .card_title {
	width: 100%;
	border-radius: 5%;
	height: 100%;
	position:relative;
	opacity:1;
	
}

.page-content .projects-section .project .card_title:hover {
	opacity: 1;
	transition: 0.3s;
}

.page-content .projects-section .project .card_description {
	width: 100%;
	text-align: center;
	border-radius: 5%;
	height: 100%;
	position:relative;
	margin-top: -300px;
	opacity:1;
}

.page-content .projects-section .project .card_description:hover {
	opacity: 0;
	transition: 0.3s;
}

.page-content .projects-section .project .card_description p {
	color:black;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 4%;

}

.page-content .projects-section .project .card_description img {

	width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
	margin: auto;




	border-radius: 5%;

}



/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */



/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

footer {
	margin-top: 100px;
	width:100%;
	height: 100px;
}

/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}

	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}







/* project_area div */
/* project_area div */
/* project_area div */
/* project_area div */
/* project_area div */

.project_area {

	width: 100%;
	height: 550px;
	
}

.project_area h1 {
	line-height: 250px;
	height: 150px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	text-align: center;
}

.project_area .box{

	width: 60%;
	position:relative;
    margin: 0 auto;
}

.project_area p .highlightme{
	font-weight:bold;
}

.project_area p{
	font-weight:bold;
}







/* project_area div */
/* project_area div */
/* project_area div */
/* project_area div */
/* project_area div */
