h1{
    font-size: 30px;
    text-align: center;
    color: #016fff
    }
    
    p{
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #ffffff
    }
    
    body {
    background-color: #000000;
    }