@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}

  html {
	scroll-behavior: smooth;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	width: auto;
	width: auto\9;
}

/* this is used to change the display of hyperlink. 'text-decoration: none' kept showing a small bar at the bottom so I changed color to white to solve this issue */
a:visited { text-decoration: underline dotted white; color:black; }
a:hover { text-decoration: underline dotted white; color:black; }
a:focus { text-decoration: underline dotted white; color:black; }
a:hover, a:active { text-decoration: underline dotted white; color:black; }
a:link { text-decoration: underline dotted white; color:black; }






body {
	font-family: 'Noto Sans JP', sans-serif;
}

/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */

nav {
	padding: 0 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	position: sticky;
	z-index: 1;
	top: 0;
	height: 60px;
}

nav img {
	width: 45px;
	height: 45px;
    margin-top: 5px;   
	border-bottom: 0px solid #A7D9C9;
}

nav img:hover {
	opacity: 0,3;
}

nav .profile {
	display: flex;
	align-items: center;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

nav .profile h1 {
	font-size: 20px;
}

nav ul {
	display: flex;
	list-style-type: none;
    align-items: center;  
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
}


nav ul li:hover {
	border-bottom: 3px solid #A7D9C9;
	margin-bottom: -3px;
}  


/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */
/* Navigation Bar */







/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */

.presentation_area {

	background-color: #F6F7FB;
	width: 100%;
	height: 700px;
	
}

.presentation_area h1{
	line-height: 300px;
	height: 200px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	text-align: center;
}

/* box div */
/* box div */
/* box div */
/* box div */
/* box div */

.presentation_area .box{

	width: 40%;
	height: 400px;
	position:relative;
    margin: 0 auto;
}

.presentation_area .box img{
	width: 250px;
	height: 300px;
	margin-top: 50px;
	float:left;
	border-radius: 5%;
	border: 3px solid #A7D9C9;
}

.presentation_area .box p{

	width: 200px;
	margin-top: 50px;
	float: right;
	margin-right: 100px;
}

.presentation_area .box a img:hover {
	opacity: 0.3;
}



/* box div */
/* box div */
/* box div */
/* box div */
/* box div */

/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */
/* presentation_area div */



/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */

.page-content {
	background-color: #ffffff;
	padding: 0 2%;
	
}

.page-content h1 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	text-align: center;
	margin-top: 50px;
}

.page-content h2 {
	text-align: center;
	margin-top: 30px;
}

.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;	
}

.page-content .projects-section .project {

	width: 14%;
	margin: 0 auto;
	border: 3px solid #000000;
	background-color: #A7D9C9;
	height: 300px;
	border-radius: 5%;
	
}

.page-content .projects-section .project h4 {
	color:white;
	text-align: justify;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 4%;
}

.page-content .dates {
	font-size: 20px;
	color: rgb(145, 145, 145);
	text-align: center;
	margin-bottom: 30px;
}

.page-content .projects-section .project .card_title {
	width: 100%;
	background-color: #A7D9C9;
	border-radius: 5%;
	height: 100%;
	position:relative;
	
}

.page-content .projects-section .project .card_title:hover {
	opacity: 0;
	transition: 0.7s;
}

.page-content .projects-section .project .card_description {
	width: 100%;
	text-align: center;
	background-color: #A7D9C9;
	border-radius: 5%;
	height: 100%;
	position:relative;
	margin-top: -300px;
	opacity:0;
}

.page-content .projects-section .project .card_description:hover {
	opacity:1;
	transition: 0.7s;
}

.page-content .projects-section .project .card_description p {
	color:white;
	text-align: justify;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 4%;

}


/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */
/* page-content section */


@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}

	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}








  
