---
---

<!--Header-->
{% include header.html %}
<!--Header-->


<body>

		
<!--Navigation Bar-->
{% include nav_bar.html %}
<!--Navigation Bar-->



<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->
<!--project_area div-->

<div class="project_area">

	<h1>Courses received at Wild Code School</h1>
    <div class="box">

        <p><br><br>
            I studied the following topics during this <a href="https://www.wildcodeschool.com/en-GB/courses/data-analysis-data-analytics-course-full-time">Data Analyst Training</a>:<br><br>         
            - Python and libraries such as Numpy, Pandas, Streamlit<br>
            - Matplotlib, Seaborn, Plotly<br>
            - SQL, MongoDB<br>
            - JSON<br>
            - Tableau, Power BI, Metabase, Dataiku<br>
            - Machine Learning with Sickit-learn<br><br>
            
            I also followed many Live coding sessions, masterclasses and coding dojo. 
            You can find most of the theorical work I have done 
            on my <span class="highlightme">Github repository</span> <a href="https://github.com/BerengerQueune/Wild_Code_School">here</a> 
            and my school certificate  <a href="https://drive.google.com/file/d/1GhWx-oAKANAbk_Mpwz0BsruyjcctO4M1/view">here</a>.
            Finally, in February at the end of the training, my classmates voted for me as <a href="https://www.linkedin.com/posts/wild-code-school_wilders-of-the-month-activity-6899639599761645569-fBG6">"Wilder of the month"</a> which is similar to an "Employee of the month" award.
            

            
        </p>


    </div>

</div>

<!--Project area div-->
{% include projects_area.html %}
<!--Project area div-->


<footer>

</footer>
</body>
</html>
    