<p id="my_projects"></p>
		<section class="page-content">

            
			<section class="projects-section">

                <h1>Projects</h1>
                <h2>Jedha Bootcamp: Data Engineer training</h2>
                <p class="dates">February 2022 to July 2022</p>


				<div class="projects">

					<!--Card 1-->
                    <div class = "project" onclick="window.open('projects/bloc-1.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Construction and supply of a data infrastructure</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-1-Card.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 2-->
                    <div class = "project" onclick="window.open('bloc-2.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Exploratory analysis of speed dating data</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-2-Card.png" alt="profile photo" />
                        </div>
                    </div>

                    <!--Card 3-->
                    <div class = "project" onclick="window.open('bloc-3.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Predictive analysis - Machine Learning</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-3-Card.png" alt="profile photo" />
                        </div>
                    </div>

				</div>

				<div class="projects">

					<!--Card 4-->
                    <div class = "project" onclick="window.open('bloc-4.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Predictive analysis - Deep Learning</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-4-Card.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 5
                    <div class = "project" onclick="window.open('future_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Future project at Jedha Bootcamp</h4>
                        </div>
                        <div class = "card_description">
                            <p>Wait and See. Wait and See. Wait and See.</p>
                        </div>
                    </div>

                    Card 6
                    <div class = "project" onclick="window.open('future_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Future project at Jedha Bootcamp</h4>
                        </div>
                        <div class = "card_description">
                            <p>Wait and See. Wait and See. Wait and See.</p>
                        </div>
                    </div>-->

				</div>

                
				
                <h2>Wild Code School: Data Analyst training</h2>
                <p class="dates">September 2021 to February 2022</p>
				<div class="projects">

					<!--Card 1-->
                        <div class = "project" onclick="window.open('tableau_project.html','_self');" style="cursor: pointer;">
                            <div class = "card_title">
                                <h4>Dashboard on Tableau from SQL queries</h4>
                            </div>
                            <div class = "card_description">
                                <img src="images/tableau.png" alt="profile photo" />
                            </div>
					</div>

                    <!--Card 2-->
					<div class = "project" onclick="window.open('movie_recommendation_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Movie recommendation system</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/movie_recommendation.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 3-->
                    <div class = "project" onclick="window.open('music_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Determine music track popularity</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/music_success.png" alt="profile photo" />
                        </div>
					</div>

                </div>






                <div class="projects">

                    <!--Card 4-->
                    <div class = "project" onclick="window.open('digitecpharma_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Digitecpharma: dashboards on Metabase</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/digitecpharma.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 5-->
                    <div class = "project" onclick="window.open('manomano_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>ManoMano: raise customer's engagement</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/manomano.png" alt="profile photo" />
                        </div>
                    </div>

                    <!--Card 6-->
                    <div class = "project" onclick="window.open('wild_code_school_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Data Analyst training (Python, Pandas...)</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/wild_code_school.png" alt="profile photo" />
                        </div>
                    </div>
                    
                </div>

                
			</section>
		</section>