<p id="my_projects"></p>
		<section class="page-content">

            
			<section class="projects-section">

                <h1>Projects</h1>
                <h2>Jedha Bootcamp: Data Engineer training</h2>
                <p class="dates">February 2022 to July 2022</p>


				<div class="projects">

					<!--Card 1-->
                    <div class = "project" onclick="window.open('bloc-1.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Construction et alimentation d'une infrastructure de données</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-1-Card.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 2-->
                    <div class = "project" onclick="window.open('bloc-2.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Analyse exploratoire de données de speed dating</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-2-Card.png" alt="profile photo" />
                        </div>
                    </div>

                    <!--Card 3-->
                    <div class = "project" onclick="window.open('bloc-3.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Analyse prédictive - Machine Learning</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-3-Card.png" alt="profile photo" />
                        </div>
                    </div>

				</div>

				<div class="projects">

					<!--Card 4-->
                    <div class = "project" onclick="window.open('bloc-4.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Analyse prédictive - Deep Learning</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-4-Card.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 5
                    <div class = "project" onclick="window.open('future_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Future project at Jedha Bootcamp</h4>
                        </div>
                        <div class = "card_description">
                            <p>Wait and See. Wait and See. Wait and See.</p>
                        </div>
                    </div>

                    Card 6
                    <div class = "project" onclick="window.open('future_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Future project at Jedha Bootcamp</h4>
                        </div>
                        <div class = "card_description">
                            <p>Wait and See. Wait and See. Wait and See.</p>
                        </div>
                    </div>-->

				</div>

                
				
                <h2>Wild Code School: Data Analyst training</h2>
                <p class="dates">September 2021 to February 2022</p>
				<div class="projects">

					<!--Card 1-->
                        <div class = "project" onclick="window.open('tableau_project.html','_self');" style="cursor: pointer;">
                            <div class = "card_title">
                                <h4>Dashboard on Tableau from SQL queries</h4>
                            </div>
                            <div class = "card_description">
                                <img src="images/Tableau.png" alt="profile photo" />
                            </div>
					</div>

                    <!--Card 2-->
					<div class = "project" onclick="window.open('movie_recommendation_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Movie recommendation system</h4>
                        </div>
                        <div class = "card_description">
                        <p>With the IMDb database, I used Python and Pandas to clear the database. Then Sickit-learn for Machine Learning. I developped a webapp with the Streamlit Python Library to display the recommendations.</p>
                        </div>
					</div>

                    <!--Card 3-->
                    <div class = "project" onclick="window.open('music_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Determine music track popularity</h4>
                        </div>
                        <div class = "card_description">
                        <p>With the Spotify database, Python, Pandas, Sickit-learn I made a webapp on streamlit where people can tweak a music track characteristics to find out the influence on potential popularity.</p>
                        </div>
					</div>

                </div>






                <div class="projects">

                    <!--Card 4-->
                    <div class = "project" onclick="window.open('digitecpharma_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Digitecpharma: dashboards on Metabase</h4>
                        </div>
                        <div class = "card_description">
                        <p>From a PostgreSQL Database, I used SQL queries to display multiple dashboards on Metabase.</p>
                        </div>
					</div>

                    <!--Card 5-->
                    <div class = "project" onclick="window.open('manomano_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>ManoMano: raise customer's engagement</h4>
                        </div>
                        <div class = "card_description">
                        <p>Using Python, Pandas and the Text2Emotion Python Library, we identified customers feeling and made suggestions to improve customer's engagement.</p>
                        </div>
                    </div>

                    <!--Card 6-->
                    <div class = "project" onclick="window.open('wild_code_school_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Data Analyst training (Python, Pandas...)</h4>
                        </div>
                        <div class = "card_description">
                        <p>Dozens of lessons provided by the Wild Code School.</p>
                        </div>
                    </div>
                    
                </div>

                
			</section>
		</section>