<p id="my_projects"></p>
		<section class="page-content">

            
			<section class="projects-section">

                <h1>Projects</h1>
                <h2>Data Engineering</h2>


				<div class="projects">

					<!--Card 1-->
                    <div class = "project" onclick="window.open('bloc-1.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>AWS S3<br>AWS RDS<br>Scrapy<br>Beautiful Soup<br>API<br>SQL Alchemy<br>SQL</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-1b-Card.png" alt="profile photo" />
                        </div>
					</div>


                    <!--Card 2-->
                    <div class = "project" onclick="window.open('bloc-5.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Streamlit<br>Docker<br>MLflow<br>Heroku<br>Plotly<br>Sklearn<br>Linear Regression<br>Fast API</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-5b-Card.png" alt="profile photo" />
                        </div>
                    </div>

                    <!--Card 3-->
                    <div class = "project" onclick="window.open('bloc-6.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Streamlit<br>Docker<br>AWS Elastic Beanstalk<br>API<br>Plotly<br>Matplotlib</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-6b-Card.png" alt="profile photo" />
                        </div>
                    </div>

				</div>




                <h2>Data Science</h2>

				<div class="projects">



                    <!--Card 1-->
                    <div class = "project" onclick="window.open('bloc-3.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Plotly<br>Sklearn<br>Linear Regression<br>GridSearchCV</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-3b-Card.png" alt="profile photo" />
                        </div>
                    </div>

					<!--Card 2-->
                    <div class = "project" onclick="window.open('bloc-4.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Plotly<br>Tensorflow<br>Spacy</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-4b-Card.png" alt="profile photo" />
                        </div>
					</div>


                    <!--Card 3-->
                    <div class = "project" onclick="window.open('manomano_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Power BI<br>Pandas<br>NLP<br>Text2Emotion</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/manomano-2.png" alt="profile photo" />
                        </div>
                    </div>



				</div>

                
				
                <h2>Data Analysis</h2>
				<div class="projects">

					<!--Card 1-->
                        <div class = "project" onclick="window.open('tableau_project.html','_self');" style="cursor: pointer;">
                            <div class = "card_title">
                                <h4>SQL<br>Tableau</h4>
                            </div>
                            <div class = "card_description">
                                <img src="images/tableau-2.png" alt="profile photo" />
                            </div>
					</div>






                    <!--Card 2-->
                    <div class = "project" onclick="window.open('bloc-2.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python<br>Pandas<br>Plotly</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/bloc-2b-Card.png" alt="profile photo" />
                        </div>
                    </div>






                    <!--Card 3-->
                    <div class = "project" onclick="window.open('digitecpharma_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>SQL<br>Metabase</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/digitecpharma-2.png" alt="profile photo" />
                        </div>
					</div>


                </div>

				<div class="projects">
                    <!--Card 4-->
					<div class = "project" onclick="window.open('movie_recommendation_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Python<br>Pandas<br>Plotly<br>Streamlit<br>Sklearn<br>K-nearest neighbors</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/movie_recommendation-2.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 5-->
                    <div class = "project" onclick="window.open('music_project.html','_self');" style="cursor: pointer;">
						<div class = "card_title">
                            <h4>Python<br>Streamlit<br>RandomForest Classifier</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/music_success-2.png" alt="profile photo" />
                        </div>
					</div>

                    <!--Card 6-->
                    <div class = "project" onclick="window.open('wild_code_school_project.html','_self');" style="cursor: pointer;">
                        <div class = "card_title">
                            <h4>Python and many libraries<br>SQL<br>MongoDB<br>JSON<br>Sklearn<br>Tableau<br>Power BI<br>Metabase<br>Dataiku</h4>
                        </div>
                        <div class = "card_description">
                            <img src="images/wild_code_school-2.png" alt="profile photo" />
                        </div>
                    </div>

                </div>

                
			</section>
		</section>